.container {
  display : flex;
  flex-direction : column;
  justify-content : center;
  text-align : center;
  margin : auto;
  width : 100%;
}

.objContainer {
  display : flex;
  gap : 1rem;
}

.contents {
  border : 1px solid green;
  border-radius : 8px;
  width : 100px;
  height : 100px;
}